.header {
  background-color: #7f53ac;
  background-image: linear-gradient(in lch 315deg, #7f53ac, #647dee);
  padding: 1em;
}

.header > nav {
  display: flex;
  align-items: center;
}

.navLink {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding-right: 1em;
}

:global .page {
  text-align: center;
}

figure > img {
  max-width: 100%;
}
